/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.el-breadcrumb{
  margin-bottom: 20px;
}

.el-card{
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15) !important;
}

.el-table{
  margin-top: 15px;
}

.el-pagination{
  margin-top: 15px;
}
